
  
  
   #amazing{
        font-family: "微软雅黑" "arial black" sans-serif;
        
      }
      .one{
        color: red;
      }
      .two{
        color: salmon;
      }
      .three{
        color: seagreen;
      }
      .four{
        color: skyblue;
      }
      .five{
        color: aquamarine;
      }
      .six{
        color: palevioletred;
      }
      .seven{
        color: orange;
      }
      .eight{
        color: cornflowerblue;
      }
      .nine{
        color: thistle;
      }
      .ten{
        color: chartreuse;
      }
      .eleven{
        color: plum;
      }
      .twelve{
        color: lightsalmon;
      }
      .haha{
        color: hotpink;
        font-family: sans-serif;
      }
      .nono{
        color: gold;
      }