#guarantee{
  line-height: 1.9em;
  font-style: italic;
  font-family: "微软雅黑",arial, sans-serif;
  border-color: black;
  border-width: 1px;
  border-style: dashed;
  background-color: greenyellow;
  padding: 25px;
  padding-left: 100px;
  padding-right: 250px;
  margin: 30px;
  background-image:url(../img/10.jpg.gif);
  background-repeat: no-repeat;
  background-position: top right;
  border-style: dashed;
  border-color: orangered;
  border-width: 6px;
  border-radius: 15px;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 3em;
}
