 .tee{
   line-height: 1.5em;
   font-family: "微软雅黑" arial sans-serif;
   font-size: 25px;
   color: palevioletred;
   background-color: yellow;
   padding-left: 40px;
   padding-right: 60px;
   border-style: dotted;
   border-width: 6px;
   border-color: lightcoral;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   margin: 30px;
   
   
 }
